<div class="menu-container secondary">
    <div class="menu-header"
        style="display: flex; flex-direction: column; justify-content: center; font-size: 3rem; text-align: center;">
        doobNg
    </div>
    <db-menu class="secondary padding-top-30" style="margin:0px;">
        <db-header>Components</db-header>
        <a db-item class="item" routerLink="/accordion" routerLinkActive="active">
            <i class="map outline rotated icon"></i>Accordion
        </a>
        <a db-item class="item" routerLink="/checkbox" routerLinkActive="active">
            <i class="check square outline icon"></i>Checkbox
        </a>
        <a db-item class="item" routerLink="/dropdown" routerLinkActive="active">
            <i class="list alternate outline icon"></i>Dropdown
        </a>
        <a db-item class="item" routerLink="/editor" routerLinkActive="active">
            <i class="terminal icon"></i>Editor
        </a>
        <a db-item class="item" routerLink="/menu" routerLinkActive="active">
            <i class="list icon"></i>Menu
        </a>
        <a db-item class="item" routerLink="/tabs" routerLinkActive="active">
            Tabs
        </a>
    </db-menu>

    <div class="whitespace">

    </div>
</div>
