<div class="menu-container ui vertical menu">
    <div class="menu-header"
        style="display: flex; flex-direction: column; justify-content: center; font-size: 3rem; text-align: center;">
        doobNg
    </div>
    <!-- <div>
        <div class="header item padding-top-30">Menu</div>
        <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Home
        </a>
    </div> -->

    <!-- <div>
        <div class="header item padding-top-30">Directives</div>
        <a class="item" routerLink="/rules" routerLinkActive="active">
            <i class="stream icon"></i>OnInit
        </a>
        <a class="item" routerLink="/variables" routerLinkActive="active">
            <i class="folder outline icon"></i>OnDestroy
        </a>
        <a class="item" routerLink="/variables" routerLinkActive="active">
          <i class="folder outline icon"></i>AfterViewInit
      </a>
    </div> -->

    <div>
        <div class="header item padding-top-30">Components</div>
        <a class="item" routerLink="/accordion" routerLinkActive="active">
            <i class="map outline rotated icon"></i>Accordion
        </a>
        <a class="item" routerLink="/checkbox" routerLinkActive="active">
            <i class="check square outline icon"></i>Checkbox
        </a>
        <a class="item" routerLink="/dropdown" routerLinkActive="active">
            <i class="list alternate outline icon"></i>Dropdown
        </a>
        <a class="item" routerLink="/editor" routerLinkActive="active">
            <i class="terminal icon"></i>Editor
        </a>

    </div>

    <div class="whitespace">

    </div>
</div>
