<demo-part title="Simple" [example]="simpleExample">
    <db-dropdown class="selection" placeholder="Select..." #dd>
        <div db-header>Header</div>
        <db-item value="1st">First</db-item>
        <db-item value="2nd">Second</db-item>
        <db-item value="3rd">Third</db-item>
        <db-divider></db-divider>
        <db-item value="cat" icon="cat">Cat</db-item>
        <db-item value="dog" icon="dog">Dog</db-item>
        <db-item value="hippo" icon="hippo">Hippo</db-item>
    </db-dropdown>
    <div *ngIf="dd.selectedChange | async; let val">
        <pre>{{val}}</pre>
    </div>


</demo-part>

<demo-part title="Fluid" [example]="fluidExample">
    <db-dropdown fluid class="selection" placeholder="Select..." #dd2>
        <db-item value="Baseball" icon="baseball ball">Baseball</db-item>
        <db-item value="Basketball" icon="basketball ball">Basketball</db-item>
        <db-item value="Football" icon="football ball">Football</db-item>
    </db-dropdown>
    <div *ngIf="dd2.selectedChange | async; let val">
        <pre>{{val}}</pre>
    </div>
</demo-part>

<demo-part title="Multiple Selections" [example]="multiSelectExample">
    <db-dropdown [fluid]="toggle.checked" [multiple]="delimiter || true" class="selection" placeholder="Select..." #dd3>
        <db-item value="Baseball" icon="baseball ball">Baseball</db-item>
        <db-item value="Basketball" icon="basketball ball">Basketball</db-item>
        <db-item value="Football" icon="football ball">Football</db-item>
    </db-dropdown>
    <div>
        <div class="ui small input" style="padding-right: 30px;">
            <input type="text" placeholder="change delimiter" #inp (keyup)="delimiter = inp.value" />
        </div>
        <db-checkbox toggle #toggle>Fluid</db-checkbox>
    </div>
    <div *ngIf="dd3.selectedChange | async; let val">
        <pre>{{val | json}}</pre>
    </div>
</demo-part>
